.chat_content {
  height: calc(100% - 180px);

  .chat_header_name {
    position: relative;
    padding: 10px 0;
    margin: 0 19px;
    border-bottom: 1px solid #d6d6d6;
    background-color: #eee;
    z-index: 1024;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;

    .chat_choose_name {
      display: inline-block;
      vertical-align: middle;
      max-width: 300px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: normal;
      text-decoration: none;
      color: #000;
      font-weight: 400;
      margin-right: 4px;
    }

    .web_wechat_down_icon {
      width: 10px;
      height: 10px;
      background: url(../../../assets/webwx.png) no-repeat;
      background-position: -477px -65px;
      -webkit-background-size: 487px 462px;
      background-size: 487px 462px;
      display: inline-block;
    }
  }
}

#chat_content_msglist {
  height: calc(100% - 220px);
  padding: 0 19px;
  overflow: scroll !important;

  .chat_time {
    text-align: center;
    margin: 10px auto;
    max-width: 50%;
    display: inline-block;
    font-size: 12px;
    padding: 1px 18px;
    color: #b2b2b2;
    border-radius: 2px;
  }

  .chat_message {
    margin-bottom: 16px;
    float: left;
    width: 100%;
  }



  .chat_message_system {
    text-align: center;
    margin: 10px auto;
    max-width: 50%;
  }

  .chat_content_time {
    display: inline-block;
    font-size: 12px;
    padding: 1px 18px;
    color: #b2b2b2;
    border-radius: 2px;
  }

  .chat_avatar {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    float: left;
    cursor: pointer;
  }

  .chat_content_msg {
    overflow: hidden;
  }

  .bubble {
    max-width: 500px;
    min-height: 1em;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: left;
    font-size: 14px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin: 0 10px;

    &:after,
    &:before {
      position: absolute;
      top: 14px;
      border: 6px solid transparent;
      content: " ";
    }

    &.bubble_default:after,
    &.bubble_default:before {
      right: 100%;
      border-right-color: #fff;
      border-right-width: 4px;
    }

    &.bubble_default {
      background-color: #fff;
    }

    &.bubble_primary {
      background-color: #b2e281;
    }

    &.bubble_primary:after,
    &.bubble_primary:before {
      left: 100%;
      border-left-color: #b2e281;
      border-left-width: 4px;
    }
  }



  .bubble_cont {
    word-wrap: break-word;
    word-break: break-all;
    min-height: 25px;

    .plain {
      padding: 9px 13px;
      padding: 9px 13px;
      text-align: left;
      font-size: 14px;
      line-height: 1.6;
    }

    .content_chat_pre {
      margin: 0;
      font-family: inherit;
      font-size: inherit;
      white-space: pre-wrap;
      word-break: normal;
    }
  }

  .chat_message.me {
    float: right;
    text-align: right;
    clear: right;
    .chat_avatar {
      float: right;
    }
  }

}